!*.xml.pot

/GNUmakefile
/config.log
/config.status
/doc/Makefile
/doc/Makefile.comments
/doc/html/image_src/Makefile
/doc/postgis-out.xml
/doc/postgis_aggs_mm.xml
/extensions/address_standardizer/sql/
/extensions/postgis/sql/
/extensions/postgis/sql_bits/postgis.sql
/extensions/postgis/sql_bits/postgis_comments.sql
/extensions/postgis/sql_bits/postgis_raster_upgrade_minor.sql
/extensions/postgis/sql_bits/postgis_upgrade.sql
/extensions/postgis/sql_bits/raster_comments.sql
/extensions/postgis/sql_bits/rtpostgis.sql
/extensions/postgis/sql_bits/rtpostgis_upgrade.sql
/extensions/postgis/sql_bits/spatial_ref_sys.sql
/extensions/postgis_tiger_geocoder/expected/
/extensions/postgis_tiger_geocoder/sql/
/extensions/postgis_tiger_geocoder/sql_bits/add_search_path.sql
/extensions/postgis_tiger_geocoder/sql_bits/tiger_geocoder.sql
/extensions/postgis_tiger_geocoder/sql_bits/tiger_geocoder.sql.in
/extensions/postgis_tiger_geocoder/sql_bits/tiger_geocoder_comments.sql
/extensions/postgis_tiger_geocoder/sql_bits/tiger_geocoder_minor.sql.in
/extensions/postgis_topology/sql/
/extensions/postgis_topology/sql_bits/topology.sql
/extensions/postgis_topology/sql_bits/topology_comments.sql
/liblwgeom/.libs/
/liblwgeom/Makefile
/liblwgeom/box2d.lo
/liblwgeom/bytebuffer.lo
/liblwgeom/cunit/Makefile
/liblwgeom/effectivearea.lo
/liblwgeom/g_box.lo
/liblwgeom/g_serialized.lo
/liblwgeom/g_util.lo
/liblwgeom/liblwgeom.h
/liblwgeom/liblwgeom.la
/liblwgeom/lwalgorithm.lo
/liblwgeom/lwcircstring.lo
/liblwgeom/lwcollection.lo
/liblwgeom/lwcompound.lo
/liblwgeom/lwcurvepoly.lo
/liblwgeom/lwgeodetic.lo
/liblwgeom/lwgeodetic_tree.lo
/liblwgeom/lwgeom.lo
/liblwgeom/lwgeom_api.lo
/liblwgeom/lwgeom_debug.lo
/liblwgeom/lwgeom_geos.lo
/liblwgeom/lwgeom_geos_clean.lo
/liblwgeom/lwgeom_geos_cluster.lo
/liblwgeom/lwgeom_geos_node.lo
/liblwgeom/lwgeom_geos_split.lo
/liblwgeom/lwgeom_topo.lo
/liblwgeom/lwgeom_transform.lo
/liblwgeom/lwhomogenize.lo
/liblwgeom/lwin_encoded_polyline.lo
/liblwgeom/lwin_geojson.lo
/liblwgeom/lwin_twkb.lo
/liblwgeom/lwin_wkb.lo
/liblwgeom/lwin_wkt.lo
/liblwgeom/lwin_wkt_lex.lo
/liblwgeom/lwin_wkt_parse.lo
/liblwgeom/lwline.lo
/liblwgeom/lwlinearreferencing.lo
/liblwgeom/lwmcurve.lo
/liblwgeom/lwmline.lo
/liblwgeom/lwmpoint.lo
/liblwgeom/lwmpoly.lo
/liblwgeom/lwmsurface.lo
/liblwgeom/lwout_encoded_polyline.lo
/liblwgeom/lwout_geojson.lo
/liblwgeom/lwout_gml.lo
/liblwgeom/lwout_kml.lo
/liblwgeom/lwout_svg.lo
/liblwgeom/lwout_twkb.lo
/liblwgeom/lwout_wkb.lo
/liblwgeom/lwout_wkt.lo
/liblwgeom/lwout_x3d.lo
/liblwgeom/lwpoint.lo
/liblwgeom/lwpoly.lo
/liblwgeom/lwprint.lo
/liblwgeom/lwpsurface.lo
/liblwgeom/lwspheroid.lo
/liblwgeom/lwstroke.lo
/liblwgeom/lwtin.lo
/liblwgeom/lwtree.lo
/liblwgeom/lwtriangle.lo
/liblwgeom/lwunionfind.lo
/liblwgeom/lwutil.lo
/liblwgeom/measures.lo
/liblwgeom/measures3d.lo
/liblwgeom/ptarray.lo
/liblwgeom/stringbuffer.lo
/liblwgeom/varint.lo
/libpgcommon/Makefile
/libpgcommon/cunit/Makefile
/loader/.libs/
/loader/Makefile
/loader/cunit/Makefile
/loader/pgsql2shp
/loader/shp2pgsql
/postgis/Makefile
/postgis/legacy.sql
/postgis/legacy_gist.sql
/postgis/legacy_minimal.sql
/postgis/postgis.sql
/postgis/postgis_upgrade.sql
/postgis/postgis_upgrade.sql.in
/postgis/uninstall_legacy.sql
/postgis/uninstall_postgis.sql
/postgis_config.h
/raster/loader/.libs/
/raster/loader/Makefile
/raster/loader/raster2pgsql
/raster/raster_config.h
/raster/rt_core/Makefile
/raster/rt_pg/Makefile
/raster/rt_pg/rtpostgis.sql
/raster/rt_pg/rtpostgis_drop.sql
/raster/rt_pg/rtpostgis_legacy.sql
/raster/rt_pg/rtpostgis_upgrade.sql
/raster/rt_pg/rtpostgis_upgrade.sql.in
/raster/rt_pg/rtpostgis_upgrade_cleanup.sql
/raster/rt_pg/uninstall_rtpostgis.sql
/raster/scripts/Makefile
/raster/scripts/python/Makefile
/raster/test/Makefile
/raster/test/cunit/Makefile
/raster/test/regress/Makefile
/regress/Makefile
/topology/Makefile
/topology/test/Makefile
/topology/topology.sql
/topology/topology_drop_after.sql
/topology/topology_drop_before.sql
/topology/topology_upgrade.sql
/topology/topology_upgrade.sql.in
/topology/uninstall_topology.sql
/utils/Makefile
/utils/postgis_restore.pl
/extensions/Makefile
/extensions/address_standardizer/Makefile
/extensions/postgis/Makefile
/extensions/postgis_sfcgal/Makefile
/extensions/postgis_tiger_geocoder/Makefile
/extensions/postgis_topology/Makefile
/liblwgeom/lwin_wkt_lex.c
/libtool
/postgis/sqldefines.h
/raster/Makefile

